<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Assets</h2>
<div>
  <div *ngFor="let asset of assets">{{asset.name}} - {{asset.value|number}}</div>  
  <div>Total Budget Availiable - {{totalBudget|number}}</div>
  <div>Allocated Budget - 0</div>
</div>
<h2>Edit Assets</h2>
<div>
  <div *ngFor="let asset of assets">
    <div>
      Name :
      <input type="text" class="form-control" id="name"
      required
      [(ngModel)]="asset.name" name="name">
    </div>
    <div>
      Value : <input type="text" class="form-control" id="name"
      required
      [(ngModel)]="asset.value" name="value">
    </div>
  </div>
</div>
<h2>Budgets</h2>
<div *ngFor="let budget of budgets">
  <div>{{budget.name}} - {{budget.value}}</div>
</div>
